h1 {
  font-family: "Merriweather", Serif;
  font-size: 45px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

span {
  opacity: 0.6;
}

body {
  font-family: "Muli", Sans-Serif;
  background-color: #dceef2;
  color: #dceef2;
}

.jumbotron {
  background: #154020;
}

.employee-card {
  box-shadow: 5px 3px 9px 1px #517346;
}

.card-header {
  background: #15401b;
}

.card-body {
  color: #46734c;
}

a {
  color: #36bf6b;
}

a:hover {
  color: #91d9b7;
  text-decoration: none;
}
